/* створення змінних для подальшого використання,щоб швидко змінювати кольори на сайті */
:root {
  --text-color: #757575;
  --accent-color: #2196f3;
  --heading-color: #212121;
  --background-color: #ffffff;
  --team-color: #f5f4fa;
  --black: #000000;
  --hero--background: #2f303a;
}
/* підключення шрифту вручну */

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Black.ttf) format(ttf);
}

/* Ресет */
body {
  font-family: Roboto, sans-serif, Raleway;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  cursor: pointer;
  color: var(--accent-color);
  transition: opacity 0.3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  color: var(--text-color);
}

/* base  styles*/

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* хедер */

.header {
  display: flex;
  /* width: 1600px; */
  height: 80px;
  align-items: center;
  border-bottom: 1px solid black;
}

.about {
  display: block;
}

.nav {
  display: flex;
}

.zxzxc {
  color: #212121;
}

#1 {
  color: red;
}

.nav__list {
  display: flex;
  align-items: center;

  margin-right: 345px;
}

.nav__list--item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header__contacts {
  display: flex;
  align-items: center;
}

.contact-link {
  width: 122px;
  height: 16px;
}

.logo {
  width: 145px;
  height: 31px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--black);

  margin-right: 95px;
  margin-left: 215px;
}

.logo--web {
  color: var(--accent-color);
}

.nav-link {
  width: 72px;
  height: 16px;
  position: relative;

  padding-bottom: 30px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--heading-color);
}

.bottom-line::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 48px;
  height: 4px;

  border-radius: 2px;

  background-color: var(--accent-color);
}

.active-link {
  color: var(--accent-color);
}

/* Секція герой */

.hero {
  /* width: 1600px; */
  height: 600px;

  padding-top: 195px;
  padding-bottom: 285px;

  background-color: var(--hero--background);
  background-image: url(./assets/img/Img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero--heading {
  width: 696px;
  height: 120px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  margin: 0 auto;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  border: 2px solid red;

  margin-bottom: 35px;

  color: var(--background-color);
}

.hero--button {
  width: 216px;
  height: 50px;

  display: block;
  margin: 0 auto;

  color: var(--background-color);
  background-color: var(--accent-color);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  text-align: center;
}
/* asd */

.sectionPerevagi {
  margin-top: 95px;
  margin-bottom: 95px;
}

.sectionHeading {
  display: none;
}

.list {
  display: flex;
}

.list-item {
  width: 270px;
}

.list-item::before {
  display: block;
  content: '';

  width: 270px;
  height: 120px;

  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: center;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.antena::before {
  background-image: url(./assets/img/antena.svg);
}

.clock::before {
  background-image: url(./assets/img/clock.svg);
}

.diagram::before {
  background-image: url(./assets/img/diagram.svg);
}

.astronavt::before {
  background-image: url(./assets/img/astronaut.svg);
}

.list-item:not(:last-child) {
  margin-right: 30px;
}

.list-item__active {
}

.text-container {
  width: 270px;
}

.asda {
  width: 270px;
  height: 16px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.text {
  width: 270px;
  height: 72px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}

/* about us */

.about-us__heading {
  /* width: 366px; */
  height: 42px;

  margin-bottom: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.img-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-us__img:not(:last-child) {
  margin-right: 30px;
}

button[type='submit'] {
  color: #000000;
}

.navbar {
  margin-left: 315px;
  margin-right: 330px;
  margin-top: 70px;
  margin-bottom: 95px;
}

.nav--list {
  display: flex;
  justify-content: space-around;
}

.galery {
  margin-left: 147px;
  margin-right: 147px;
}

.galery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.galery--item {
}

.galery--container {
  width: 420px;
}

.galery-img {
  margin-bottom: 62px;
}

.underimg {
  display: block;

  margin-bottom: 32px;

  width: 64px;
  height: 16px;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  color: #b4ad9e;
}

.heading {
  margin-bottom: 40px;

  width: 408px;
  height: 40px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;

  color: #626262;
}

.paragraph {
  width: 420px;
  height: 76px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #626262;
}

.galery--button {
  display: block;

  margin: 0 auto;

  width: 165px;
  height: 60px;

  border: 1px solid #626262;
  text-align: center;
}

.galery--button__text {
  width: 68px;
  height: 19px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #626262;
}

p::first-letter {
  font-size: 1.5em;
  font-weight: bold;
  color: red;
}

.parent {
  display: flex;
  justify-content: space-between;

  width: 500px;
  height: 500px;

  margin-top: 100px;
  margin-bottom: 110px;
}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}
.green {
  width: 100px;
  height: 100px;
  background-color: green;
  /* border-radius: 50%; */
  box-shadow: 57px -27px 0px -4px rgba(81, 94, 145, 0.79);
  background: rgb(0, 212, 255);
  background: radial-gradient(
    circle,
    rgba(0, 212, 255, 1) 23%,
    rgba(2, 0, 36, 1) 37%,
    rgba(226, 0, 245, 1) 37%,
    rgba(0, 86, 255, 1) 76%
  );
}
.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
}

/* новое будет ниже */
.overlay {
  /* background-color:#00000088; */
  background-image: linear-gradient(rgba(51, 0, 255, 0.547), rgba(255, 255, 0, 0.468));
  /* background: g; */
  height: 400px;
}
